/* styles.css */
header{background-color: #171229; justify-content: space-between;align-items: center; padding: 18px 48px; display: flex;}
footer {background-color: #171229;}
.logo{color: white;font-size: 24px; font-weight: bold;}
nav{display: flex; margin: 0; padding: 0; gap: 20px;}

/* Hero section styling*/
.hero-container {display: flex;background-color: #171229; display: flex; justify-content: space-between; display: flex; align-items: center; gap: 50px; color: white; padding: 100px 150px}
.hero-right {display:flex; justify-content: flex-end}
.image-box {background-color: grey; width: 220px; height: 120px;}
.btn-signup {background-color: white; color: blue; padding: 10px 30px; border-radius: 8px; font-weight: bold; cursor: pointer; display: inline-block;}
